<%= form_with(model: genero, local: true) do |form| %>
  <% if genero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genero.errors.count, "error") %> Esse gênero não pode ser salvo</h2>

      <ul>
        <% genero.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" >
    <div class="col-sm-2">
      <%= form.label :nome, style:"font-size: 20px" %>
      <%= form.text_field :nome %><p>
    </div>
  </div>

    <%= form.submit "Adicionar", class:"btn btn-primary", style:"background-color:#404040" %><p>
 
<% end %>
