<% @filme.errors.full_messages.each do |msg| %>
<div class="alert alert-danger" role="alert">
    <%= msg %>
</div>
<% end %>
    <%= form_for @filme do |form|%>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <%= form.label :titulo %>
                <%= form.text_field :titulo, class:"form-control" %>
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <%= form.label :Ator_Principal %>
                <%= form.text_field :atorprincipal, class:"form-control"%>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <%= form.label :nota %>
                <%= form.number_field :nota, step:0.01, class:"form-control"%>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <%= form.label :ano %>
                <%= form.number_field :ano, class:"form-control"%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <%= form.label :genero %>
                <%= form.collection_select(:genero_id, Genero.all, :id, :nome, class:"form-control") %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <%= form.label :status %>
                <%= form.text_field :status, class:"form-control"%>
            </div>
        </div>
    </div> 


        <%= form.submit texto_da_acao, class:"btn btn-primary" %>

    <% end %>