<% @filme.errors.full_messages.each do |msg| %>
<div class="alert alert-danger" role="alert">
    <%= msg %>
</div>
<% end %>
    <%= form_for @filme do |form|%>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <%= form.label :título %>
                <%= form.text_field :titulo, class:"form-control" %>
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <%= form.label "Diretor(a)" %>
                <%= form.text_field :atorprincipal, class:"form-control"%>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <%= form.label :ano %>
                <%= form.number_field :ano, class:"form-control"%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <%= form.label :genêro %>
                <%= form.collection_select(:genero_id, Genero.all, :id, :nome, class:"form-control", style:"color:red") %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6"> 
            <%= form.label :status %>
            <div class="form-check">
                <%= form.radio_button(:status, "assisti", class: "form-check-input") %>
                <%= label_tag(:status_assistido, "Já assisti", class: "form-check-label") %><p>
                <%= form.radio_button(:status, "quero_ver", class: "form-check-input") %>
                <%= label_tag(:status_minha_lista, "Quero Ver", class: "form-check-label") %><p>
            </div>
        </div>
    </div>

        <%= form.submit texto_da_acao, class:"btn btn-primary"%>

    <% end %>