<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo De Filmes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= nav_bar brand: "Filmes", brand_link: root_url do %>
        <%= menu_group do %>
        <%= menu_item "Adicionar um novo filme", new_filme_path %>
        <%= menu_item "Genêros", generos_path %>
      <%end%>
      <%= form_tag busca_filme_path, method: :get, class:"navbar-form navbar-right" do %>
      <div class="form-group">
        <%= text_field_tag :titulo, @titulo, class: "from-control"%>
        <%= button_to "Buscar", nil, class: "btn btn-default"%>    
      </div>
      <%end%>
      <%end%>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
